body {
    margin: 3%;
    padding: 0%;
    background: linear-gradient(72deg, #3DEBB0 1%, #8956F3 99%);
}

header img {
    width: 250px;
    border-radius: 50%;
    border: 8px solid #1d5542;
}

main p {
    font-size: 15pt;
}

li img {
    width: 60px;
}

.logos {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

li a {
    color: #000000;
    text-decoration: none;
    margin-top: 3px;
}

