@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    color: white;
}

section.imagem > p {
    background: black;
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}